/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/* === Start Global Class=== */
*{
    marging: 0;
    padding: 0;
}
.form-group{
    margin-bottom: 1rem;
}
/* === End Global Class=== */

/* === Start Spacing Class=== */
.pt-5px{padding-top: 5px}
.pt-10px{padding-top: 10px}
.pt-15px{padding-top: 15px}
.pt-20px{padding-top: 20px}
.pt-25px{padding-top: 25px}
.pt-30px{padding-top: 30px}
.pt-35px{padding-top: 35px}
.pt-40px{padding-top: 40px}
.pt-45px{padding-top: 45px}
.pt-50px{padding-top: 50px}
.pt-55px{padding-top: 55px}
.pt-60px{padding-top: 60px}
.pt-65px{padding-top: 65px}
.pt-70px{padding-top: 70px}
.pt-75px{padding-top: 75px}
.pt-80px{padding-top: 80px}
.pt-85px{padding-top: 85px}

.ps-5px{padding-left: 5px}
.ps-10px{padding-left: 10px}
.ps-15px{padding-left: 15px}
.ps-20px{padding-left: 20px}
.ps-25px{padding-left: 25px}
.ps-30px{padding-left: 30px}
.ps-35px{padding-left: 35px}
.ps-40px{padding-left: 40px}
.ps-45px{padding-left: 45px}
.ps-50px{padding-left: 50px}
.ps-55px{padding-left: 55px}
.ps-60px{padding-left: 60px}
.ps-65px{padding-left: 65px}
.ps-70px{padding-left: 70px}
.ps-75px{padding-left: 75px}
.ps-80px{padding-left: 80px}
.ps-85px{padding-left: 85px}

.pb-5px{padding-bottom: 5px}
.pb-10px{padding-bottom: 10px}
.pb-15px{padding-bottom: 15px}
.pb-20px{padding-bottom: 20px}
.pb-25px{padding-bottom: 25px}
.pb-30px{padding-bottom: 30px}
.pb-35px{padding-bottom: 35px}
.pb-40px{padding-bottom: 40px}
.pb-45px{padding-bottom: 45px}
.pb-50px{padding-bottom: 50px}
.pb-55px{padding-bottom: 55px}
.pb-60px{padding-bottom: 60px}
.pb-65px{padding-bottom: 65px}
.pb-70px{padding-bottom: 70px}
.pb-75px{padding-bottom: 75px}
.pb-80px{padding-bottom: 80px}
.pb-85px{padding-bottom: 85px}

.pe-5px{padding-right: 5px}
.pe-10px{padding-right: 10px}
.pe-15px{padding-right: 15px}
.pe-20px{padding-right: 20px}
.pe-25px{padding-right: 25px}
.pe-30px{padding-right: 30px}
.pe-35px{padding-right: 35px}
.pe-40px{padding-right: 40px}
.pe-45px{padding-right: 45px}
.pe-50px{padding-right: 50px}
.pe-55px{padding-right: 55px}
.pe-60px{padding-right: 60px}
.pe-65px{padding-right: 65px}
.pe-70px{padding-right: 70px}
.pe-75px{padding-right: 75px}
.pe-80px{padding-right: 80px}
.pe-85px{padding-right: 85px}

/* === Margin Class === */

.mt-5px{margin-top: 5px}
.mt-10px{margin-top: 10px}
.mt-15px{margin-top: 15px}
.mt-20px{margin-top: 20px}
.mt-25px{margin-top: 25px}
.mt-30px{margin-top: 30px}
.mt-35px{margin-top: 35px}
.mt-40px{margin-top: 40px}
.mt-45px{margin-top: 45px}
.mt-50px{margin-top: 50px}
.mt-55px{margin-top: 55px}
.mt-60px{margin-top: 60px}
.mt-65px{margin-top: 65px}
.mt-70px{margin-top: 70px}
.mt-75px{margin-top: 75px}
.mt-80px{margin-top: 80px}
.mt-85px{margin-top: 85px}

.ms-5px{margin-left: 5px}
.ms-10px{margin-left: 10px}
.ms-15px{margin-left: 15px}
.ms-20px{margin-left: 20px}
.ms-25px{margin-left: 25px}
.ms-30px{margin-left: 30px}
.ms-35px{margin-left: 35px}
.ms-40px{margin-left: 40px}
.ms-45px{margin-left: 45px}
.ms-50px{margin-left: 50px}
.ms-55px{margin-left: 55px}
.ms-60px{margin-left: 60px}
.ms-65px{margin-left: 65px}
.ms-70px{margin-left: 70px}
.ms-75px{margin-left: 75px}
.ms-80px{margin-left: 80px}
.ms-85px{margin-left: 85px}

.mb-5px{margin-bottom: 5px}
.mb-10px{margin-bottom: 10px}
.mb-15px{margin-bottom: 15px}
.mb-20px{margin-bottom: 20px}
.mb-25px{margin-bottom: 25px}
.mb-30px{margin-bottom: 30px}
.mb-35px{margin-bottom: 35px}
.mb-40px{margin-bottom: 40px}
.mb-45px{margin-bottom: 45px}
.mb-50px{margin-bottom: 50px}
.mb-55px{margin-bottom: 55px}
.mb-60px{margin-bottom: 60px}
.mb-65px{margin-bottom: 65px}
.mb-70px{margin-bottom: 70px}
.mb-75px{margin-bottom: 75px}
.mb-80px{margin-bottom: 80px}
.mb-85px{margin-bottom: 85px}

.me-5px{margin-right: 5px}
.me-10px{margin-right: 10px}
.me-15px{margin-right: 15px}
.me-20px{margin-right: 20px}
.me-25px{margin-right: 25px}
.me-30px{margin-right: 30px}
.me-35px{margin-right: 35px}
.me-40px{margin-right: 40px}
.me-45px{margin-right: 45px}
.me-50px{margin-right: 50px}
.me-55px{margin-right: 55px}
.me-60px{margin-right: 60px}
.me-65px{margin-right: 65px}
.me-70px{margin-right: 70px}
.me-75px{margin-right: 75px}
.me-80px{margin-right: 80px}
.me-85px{margin-right: 85px}
/* === End Spacing Class=== */

/* === Start Layout Class=== */
/* === End Layout Class=== */

/* === Start Table Class=== */
/* === End Table Class=== */

/* === Start Form Class=== */
/* === End Form Class=== */
